@import '../../template';
@import '../../variables';

.input {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1%;
    padding: 10px 0;
    background-color: $colorBackgroundMedium;
    border-top: 1px solid $colorBackgroundDark;
    border-bottom: 1px solid $colorBackgroundDark;
    .input__word {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3%;
        @include font(font2, 1.8vw, $colorTextDark, 500);
        .input_item {
            border: 1px solid $colorBackgroundDark;
            border-radius: 10px;
            @include font(font2, 1.8vw, $colorTextDark, 500);
        }
    }
    .input__buttons {
        display: flex;
        @include flex(row, space-around, center);
    }
}
