@import '../../template';
@import '../../variables';

.missing {
    display: flex;
    @include flex(row, center, flex-start);
    gap: 5%;
    padding: 5% 5%;
    height: 100vh;
    .missing__imagewrap {
        max-width: 50%;
        .missing__image {
            width: 100%;
        }
    }
    .missing__title {
        @include font($font1, 3vw, $colorTextDark, 600);
    }
    .missing__text {
        @include font($font1, 2vw, $colorTextDark, 400);
    }
}
