@import '../../template';
@import '../../variables';

.delete {
    @include font(font1, 1.5vw, $colorTextLight, 600);
    background-color: $colorBtnDelete;
}
.edit {
    @include font(font1, 1.5vw, $colorTextLight, 600);
    background-color: $colorBtnEdit;
}
.save {
    @include font(font1, 1.5vw, $colorTextLight, 600);
    background-color: $colorBtnSave;
}
.btn {
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid transparent;
    &:hover {
        color: $colorTextDark;
        background-color: $colorTextLight;
        border: 1px solid $colorBackgroundDark;
        cursor: pointer;
    }
}
