@import '../../template';
@import '../../variables';
.card {
    display: grid;
    grid-template-rows: 70% 30%;
    margin: 0 auto;
    padding: 10% 0;
    width: 80%;
    min-height: 65vh;
    border: 3px solid $colorBackgroundDark;
    border-radius: 10px;
    background-color: $colorBackgroundLight;
    .card__word {
        grid-area: 1/1/2/2;
        display: flex;
        @include flex(column, center, center);

        .card__eng {
            @include font($font2, 8vw, $colorTextMedium, 900);
        }
        .card__transcription {
            @include font($font2, 3.5vw, $colorTextDark, 580);
        }
    }

    .card__check {
        grid-area: 2/1/3/2;
        display: flex;
        @include flex(column, flex-start, center);

        .card__rus {
            @include font($font2, 5vw, $colorTextMedium, 700);
        }
    }
}
