@import '../../template';
@import '../../variables';

.item {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  padding: 0.7rem 0.5rem;
  border-top: 1px solid $colorBorderDark;
  border-bottom: 1px solid $colorBorderDark;
  @include _tablet {
    padding: 0.5rem 0.2rem;
    border-top: 1.5px solid $colorBorderDark;
    border-bottom: 1.5px solid $colorBorderDark;
  }
  .item__word {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    @include _mobile {
      grid-template-columns: repeat(3, 33%);
    }
    .item__item {
      display: flex;
      @include flex(column, center, center);
      @include font($font1, 1.4rem, $colorTextDark, 600);
      text-align: center;
      @include _laptop {
        font-size: 1.15rem;
      }
      @include _tablet {
        font-size: 0.8rem;
      }
      @include _mobile {
        font-size: 0.7rem;
        &:last-child {
          display: none;
        }
      }
    }
  }
  .item__buttons {
    display: flex;
    @include flex(row, space-around, center);

    @include _mobile {
      gap: 0.1rem;
    }
  }
}
