@import '../../template';
@import '../../variables';

.imagebtn {
  background-color: transparent;
  border: none;
  .imagebtn__image {
    display: block;
    max-width: 100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.3);
    }
  }
}
