@import '../../template';
@import '../../variables';
.main__table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
    border: 3px solid $colorBackgroundDark;
    border-radius: 10px;
}
.main__card {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    .main__cardchangerbtn {
        display: flex;
        @include flex(row, center, center);
    }
}
.mode {
    display: flex;
    @include flex(row, center, center);
    padding: 1% 0;
}
