@import '../../template';
@import '../../variables';

.table {
  grid-area: 2/1/3/2;
  margin: 1% 2%;
  border: 0.2rem solid $colorBorderDark;
  border-radius: 0.5rem;
  background-color: $colorBackgroundLight;
  @include _tablet {
    margin: 1% 0;
    border: 0;
  }
}
