$colorTextLight: #ffffff;
$colorTextMedium: #3b75c5;
$colorTextDark: #002e7e;
$colorBackgroundWhite: #ffffff;
$colorBackgroundLight: #ddeafc;
$colorBackgroundMedium: #6c95e7;
$colorBackgroundDark: #3e6fad;
$font1: 'Inter', sans-serif;
$font2: 'Roboto', sans-serif;
$font3: 'Cormorant Garamond', serif;
$colorBtnEdit: rgb(214, 182, 0);
$colorBtnDelete: rgb(131, 17, 17);
$colorBtnSave: rgb(15, 113, 62);

@mixin font($ff, $fs, $fc, $fw) {
  font-family: $ff;
  font-size: $fs;
  color: $fc;
  font-weight: $fw;
}
@mixin flex($fd, $jc, $ai) {
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin _laptop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin _tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _mobile {
  @media (max-width: 320px) {
    @content;
  }
}
