$colorTextLight: #ffffff;
$colorTextMedium: #6792ce;
$colorTextDark: #00338b;

$colorBorderDark: rgb(162, 0, 0);
$colorBackgroundCardFirst: #0084ff;
$colorBackgroundCardSecond: #ff0044;

$colorBackgroundWhite: #ffffff;
$colorBackgroundLight: #f1f7ff;
$colorBackgroundMedium: #a1c0ff;
$colorBackgroundDark: #3e6fad;
$font1: 'Nunito', sans-serif;
$font2: 'Comfortaa', sans-serif;
$colorEmptyInput: rgb(255, 228, 236);

$colorBtnEdit: #4e56c4;
$colorBtnDelete: rgb(187, 0, 0);
$colorBtnCancel: #e3ab00;
$colorBtnSave: rgb(0, 139, 88);
$colorDisabled: #cbcbcb;
$colorBtnKnownWord: rgb(0, 174, 130);

$colorBtnEditBorder: #000872;
$colorBtnDeleteBorder: rgb(124, 0, 0);
$colorBtnCancelBorder: #a48600;
$colorBtnSaveBorder: rgb(0, 68, 43);
$colorDisabledBorder: rgb(203, 203, 203);
$colorBtnKnownWordBorder: rgb(0, 68, 43);

$colorBtnEditLight: #9ca3ff;
$colorBtnDeleteLight: rgb(255, 99, 99);
$colorBtnCancelLight: #ffe364;
$colorBtnSaveLight: rgb(2, 221, 140);
$colorBtnKnownWordLight: rgb(237, 255, 248);

@mixin font($ff, $fs, $fc, $fw) {
  font-family: $ff;
  font-size: $fs;
  color: $fc;
  font-weight: $fw;
}
@mixin flex($fd, $jc, $ai) {
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin _laptop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin _tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _mobile {
  @media (max-width: 425px) {
    @content;
  }
}
